<%- include("../includes/boilerplate.ejs") %>  
<body>
    <h1>All Listings of Hotel Here !</h1>
    <form method="get" action="/listing/new">
        <button>New Listing</button>
    </form>
    <% for(let listing of alllistings){ %>
        <ul>
            <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
        </ul>
    <% } %>    
</body>