<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing | Major Project</title>
</head>
<body>
    <h1>Create New Listing</h1>
    <form method="POST" action="/listing">
        <input type="text" name="title" placeholder="Enter Title">
        <input type="text" name="description" placeholder="Enter description">
        <input type="text" name="image" placeholder="Enter Image URL">
        <input type="number" name="price" placeholder="Enter Price">
        <input type="text" name="location" placeholder="Enter location">
        <input type="text" name="country" placeholder="Enter country">
        <button>Create</button>
    </form>
</body>
</html>