/* BoilerPlate ejs Styling */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Mona Sans", serif;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 50px;
    box-shadow: 5px 5px 10px 1px #dedede;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.logo img{
    width: 70px;
    border-radius: 50%;
}
.navigation-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navigation-links li{
    list-style: none;
}
.navigation-links li a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
.hamburger{
    display: none;
}
.hamburger i{
    font-size: 1.5rem;
}
.close{
    font-size: 1.5rem;
    display: none;
}
@media screen and (max-width:626px) {
    .hamburger{
        display: block;
    }
    .logo img{
        width: 50px;
        border-radius: 50%;
    }
    .nav-links{
        background-color: #fff;
        position: absolute;
        width: 70%;
        top: 0px;
        left: -75%;
        height: 100vh;
        box-shadow: 5px 5px 10px 1px #dedede;
        transition: 0.5s;
    }
    .nav-links.active{
        transition: 0.5s;
        left: 0px;
    }
    .navigation-links{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        transition: 0.5s;
        padding: 0px;
    }
    .close{
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }
}


/* Index ejs Styling */
#hotel-images{
    width: 300px;
    border-radius: 30px;
}
.listing-card li{
    list-style: none;
    /* padding: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    padding: 20px;
    box-shadow: 5px 5px 10px 1px #dedede;
    border-radius: 30px;
    width: 300px;
    height: 400px;
}
#show-button{
    background-color: #FF385C;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.whole-listings-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 70px;
}
#listing-heading{
    text-align: center;
}
#listing-description{
    color: grey;
    padding: 10px;
}
#listing-price{
    text-align: center;
}

/* New Listing Styling */
.new-listing-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.new-listing-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.new-listing-form input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 30%;
}
.new-listing-button{
    background-color: #FF385C;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 10%;
}

/* individual-lisiting-styling */
.individual-listing-conatiner{
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin-top: 50px;
}
.individual-listing-image img{
    width: 500px;
    border-radius: 30px;
}
.individual-lisiting-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}
.indi-button-1 a{
    text-decoration: none;
}
.indi-button-1 a, .indi-form button{
    background-color: #FF385C;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
}